APP_TIMEZONE=America/Sao_Paulo

BCB_CDI_ANNUAL_URL=https://api.bcb.gov.br/dados/serie/bcdata.sgs.4390/dados/ultimos/5?formato=json
BCB_CDI_DAILY_URL=https://api.bcb.gov.br/dados/serie/bcdata.sgs.12/dados/ultimos/5?formato=json
BCB_SELIC_DAILY_URL=https://api.bcb.gov.br/dados/serie/bcdata.sgs.11/dados/ultimos/5?formato=json


DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASS=
DB_CHARSET=
